.container_custom{
/*pas de background-color sinon ca deborde sur aside*/
  height: 100vh;
}
.row_custom
{
  height: 10%;
  padding: 1px;
  text-align: center;
  
  font: 40px;
  color: black;
}
.col_custom
{
  border: 1px solid white;
  height: 100%;

}
p
{
  font-family: sans-serif;
  font-size: 15px
}

ul.unstyle
{
  list-style: none;
}
.facebook
{
  position: absolute;
  border: 1px solid white;
  border-style: solid;
  border-radius: 0.1px;
  background-color: white;
  font-family: sans-serif;
  color: blue;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}

