#footer/*to make footer stick to the bottom; not working as of now 17/10*/
{
  height: 10%;
  padding: 50px;
  margin-top: 35px;
  text-align: center;
  font-size: 15px;
  color: black;
  border:1px solid white;
  width: 90%;
}

ul.unstyle
{
  list-style: none;
  font size: 30px;
}

