.container_custom {
    margin: 20px;
    padding: 20px;
}

.imageleft {
    display: block;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
    padding: 10px;
    text-align: right;
}

.imageright {
    display: block;
    float: right;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.row_custom_second contenu{
padding-left: 15px;
}

.col_one {
    height: 15vh;
    color: blue;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Read More';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

.crazy
{
	margin-left: 50px;
}

h2.title_nam {
  margin-top: 15px;
}
