.container_nam
{
	margin:20px;
	padding:20px;
	font-family: sans-serif;
}

.row_custom_first
{
	background-color: yellow;
	height: 10vh;
}
.imageleft
{
	display: block;
	float: left;
}
.imageright
{
	display: block;
	float: right;
}
.col_one
{
height: 15vh;
color: blue;
}
