.logocontainer {
	background-color: orange;
	height:80vh;
}


.logo {
	height:100%;
	width: 100%;
	background-image: url('assets/logo2.png');
	background-size:cover;
}

.container_nav {
	height: 50px;
	font-style: ubuntu;
	font-weight: bold;
	background-color: #DBDBA5;
	padding-left: 100px;
}

a:link {color: black;}
a:visited {color: gray;}
a:hover, a:focus, a:active {color: red;}

.item_nav {
	padding: 13px;
}

@media (max-width: 767px) {
	.logo{
		width: : 100vw;
	}
}